<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I am a recent BCIT Computing graduate and future Software Engineer. While I have full-stack knowledge, my interest lies in software engineering and databases. 
        </p>
        <p>
           I love solving puzzles and challenging myself, a childhood passion that started with videogames led me to a career in tech.

           Most of my experience comes from actively working in the IT Project Management field, where I had an opportunity to solve real customer problems and lead IT deployment projects ranging from Cloud Servers to Firewall swaps.

           I'm looking for a Software Developer role where I can take on technical programming responsibilites, and gain work experience with software development.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Led seven-person team to design and successfully implement cloud infrastructure solutions for over 20 global clients.
    			</li>
          <li>
            Acted as the primary point between the company and client, my mindset is client first. Had opportunities to improve my bilingual skills and professionally translating technical details
    			<li>
            Implemented a more flexible approach to project management with Agile techniques in a mostly Waterfall-oriented environment and improved client satisfaction by 42% (gauged by post-project survey)
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
