<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Cloud computing</b>. The future is in the cloud. I enjoy learning about this technology and how it's revolutionizing the tech world.
			  </li>
			  <li>
				  <b>Martial arts</b>. I've been practising Karate on an off due to injuries, but my ultimate goal is to attain the mysterious black belt within a couple years.
			  </li>
			  <li>
				  <b>Videogames</b>. Always playing the latest trends in games. I love a good challenging game, be it online or RPGs.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          In a recent course at BCIT, I dabbled into technical business writing and had a glimpse of what reports and proposals look like. I found myself loving technical writing so much so that I created a 10 page proposal document analyzing one year worth of project data, with that I recommended a change in the Waterfall methodology for certain types of projects to increase department profitability. The document has been sent to my company's regional VP for approval.
    		</li>
  			<li>
          Created a CRUD (create, read, update and delete) web application in PHP that's similar to Facebook. In this Web App, you had an initial login page that could optionally remember your username (cookies) and after a successful login, you would see posts in a timeline. The app had the ability to edit and delete previous posts, much like any social media platform. Data was posted to a .txt file and read/updated/deleted from there as well, acting like a database but a lot simpler. 
  			</li>
  		</ul>
  		    
      </div>
    </div>
  </div>
</section>
